In [1]:
import pandas as pd

In [3]:
# dataframe 

pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']})

    id color
0  100   red
1  101  blue
2  102   red

In [4]:
# In Dict the columns are unordered sometimes, to keep the same order use

pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['color','id'])

  color   id
0   red  100
1  blue  101
2   red  102

In [5]:
pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'])

    id color
0  100   red
1  101  blue
2  102   red

In [25]:
# Can be indexed

df1=pd.DataFrame({'id':[100,101,102], 'color':['red','blue','red']}, columns=['id','color'], index=['a','b','c'])

In [26]:
df1

    id color
a  100   red
b  101  blue
c  102   red

In [7]:
# Creating df using list of lists

pd.DataFrame([[100,'red'],[101,'blue'],[103,'red']])

     0     1
0  100   red
1  101  blue
2  103   red

In [8]:


pd.DataFrame([[100,'red'],[101,'blue'],[103,'red']], columns=['id','color'])

    id color
0  100   red
1  101  blue
2  103   red

In [22]:
df=pd.DataFrame([[100,'red'],[101,'blue'],[103,'red']], columns=['id','color'])

In [9]:
# Create Numpy array as a dataframe

import numpy as np

In [10]:
arr = np.random.rand(4,2)

In [11]:
arr

array([[0.85282863, 0.35303251],
       [0.68613106, 0.44119353],
       [0.80890996, 0.59314297],
       [0.59284917, 0.89936784]])

In [12]:
pd.DataFrame(arr, columns=['one','two'])

        one       two
0  0.852829  0.353033
1  0.686131  0.441194
2  0.808910  0.593143
3  0.592849  0.899368

In [13]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)})

   student  test
0      100    68
1      101    76
2      102    96
3      103    72
4      104    63
5      105    87
6      106    90
7      107    92
8      108    85
9      109    93

In [17]:
pd.DataFrame({'student':np.arange(100,110,1),'test':np.random.randint(60,101,10)}).set_index('student')

         test
student
100        61
101        88
102        90
103        76
104        93
105        85
106        64
107        95
108        72
109        74

In [18]:
# Create series and attach to dataframe

s=pd.Series(['round','square'],index=['c','b'], name='shape')

In [19]:
s

c     round
b    square
Name: shape, dtype: object

In [23]:
df

    id color
0  100   red
1  101  blue
2  103   red

In [24]:
pd.concat([df,s],axis=1)

      id color   shape
0  100.0   red     NaN
1  101.0  blue     NaN
2  103.0   red     NaN
b    NaN   NaN  square
c    NaN   NaN   round

In [27]:
pd.concat([df1,s],axis=1)

C:\Users\Suruthi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round